*{
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

body{
          background-color: rgb(43, 38, 38);
}

.frame{
          width: 100%;
          height: 100vh;
          background-color: aqua;
          position: relative;
}

.nav{
          width: 100%;
          max-width: 100%;
          height: 25vh;
          /* padding:15px 50px; */

          background-color: brown;
          position: fixed;
          z-index: 1;
}
.nav a{
          padding: 0 70px;
}

.nav-list {
         display: inline-block;
         position: absolute;
         padding: 0px 40px;
         right: 0;
}
        
 .nav-list li {
          padding: 10px;
          display: inline-block;
}
 

.nav-list li a {
          text-decoration: none;
          color: rgb(250, 244, 237);
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 15px;
          /* background-color: rgb(19, 39, 39); */
          position: relative;
}       
        

.nav-list li ::after{
          font: var(--fa-font-solid);
          content: "\f2d1";
          display: block;
          font-size: 35px;
          position: absolute;
          top: 18px;
          left: 15px;
}

/* კონტენტი */

.content-frame{
          width: 100%;
          height: 100%;
          background-color: burlywood;
          padding: 40px 70px;
          display: flex;
          flex-wrap: wrap;
          z-index: 0;
          position: sticky;
}

/* ნაწ 1. - ტექსტი */
.part1{
          width: 50%;
          height: 60%;
          max-width: 100%;
          min-height: 100%;
          background-color: blueviolet;
          position: relative;
          /* padding-right: 30px; */
}

.part1-content{
          width: 100%;  
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 15px 30px;
}

.part1 h1{
          font-size: 45px;
          text-transform: uppercase;
} 

.part1 h1::first-letter {
            text-transform: lowercase;
}
        
.part1 p {
          padding: 30px 0;
          font-size: 22px;
}      

/* ნაწ  2. */

.part2{
          width: 50%;
          height: 60%;
          max-width: 100%;
          min-height: 100%;
          background-color: rgb(24, 24, 141);
          position: relative;
}

.part2-content{      
          width: 100%;  
          height: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 15px 30px;
          background-color: rgb(72, 72, 104);
}