
.back_cover{  

    width: 1000px;
    height: 500px;
    background-image: url(../../images/img5.png);
    background-size: cover;
    padding-top: 200px;  
}

div{
    width: 1000px;
    height: 200px;
    background-color: rgba(9, 91, 146, 0.774);
    padding-top: 50px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color:white; 
}

h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color:white;
}